# Byte-compiled / optimized / DLL files
__pycache__/

# Notebooks
splitter.ipynb
tests.ipynb
database.ipynb
llm_data.ipynb
testing.ipynb

# notes
notes.txt

# Other
app2.py 
ui_test.py

# Pytorch
# *.pth

# Secrets
*.toml